#all{
	background-color: #333;
	background: black;
}

.body
#logo:hover .st0{
	fill: #ff704f;
	transition: .9s;
}
.st0{
	stroke-dasharray:2900;
	stroke-dashoffset:0;
	-webkit-animation: dash 3s linear forwards;
	-moz-animation: dash 3s linear forwards;
	-o-animation: dash 3s linear forwards;
	animation: dash 4s linear forwards;
	fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:5;
}

@-webkit-keyframes dash {
	from {
		stroke-dashoffset:2900;
	}
	to {
		stroke-dashoffset:0;
	}
}

svg{
	display:block;
	-webkit-filter: drop-shadow( 0px 0px 5px gray );
	filter: drop-shadow( 0px 0px 5px gray );
	transition:1s;
}

svg:hover{
	-webkit-filter: drop-shadow( 0px 0px 5px #ff704f);
	filter: drop-shadow( 0px 0px 5px #21273a);
}
