body {
  font-family: Lato;
  font-family: Lato, Helvetica, sans-serif;
}
.container {
  background: rgb(19, 113, 85);
  text-align: center;
}
hr {
  width:50rem;
}
.pklogo {
  width:10%;
}

.title {
  text-align: center;
}
.section.hero {
  text-align: center;
  background-image: url("../img/month.png");
  background-size: cover;
  height:50rem;
  /*background: rgb(224, 53, 185);*/
}
.top {
  text-align: center;
}
a.six.columns.left {
    text-align: left;
}
a.six.columns.right {
    text-align: right;
}
.three.columns {
  background: rgb(156, 32, 62);
  height: 10em;
  background-image: url("../img/month.png");
  transition: all .2s ease-in-out;
}
.three.columns:hover {
  transform: scale(1.1);
}
