body {
  font-family: Lato;
  font-family: Lato, Helvetica, sans-serif;
}
.container {
  text-align: center;
}
hr {
  width:50rem;
}
.pklogo {
  width:6.5rem;
}
.title {
  text-align: center;
}
.section.hero.blog{
  text-align: center;
  background-image: url("../img/blogbackground.png");
  background-size: cover;
}
.section.hero {
  text-align: center;
  background-color: rgb(224, 157, 79);
  background-image: url("../img/blogbackground.png");
  background-size: cover;
  height:50rem;
}
.top {
  text-align: center;
}
a.six.columns.left {
    text-align: left;
}
a.six.columns.right {
    text-align: right;
}
.three.columns {
  background: rgb(51, 51, 51);
  border: 2px solid rgb(175, 172, 172);
  height: 10em;
  transition: all .2s ease-in-out;
}
.three.columns:hover {
  transform: scale(1.1);
}
/*navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 16px;
  font-size: 1.2em;
  text-decoration: none;
  width:200px;
  height:50px;
  transition: all .1s ease-in-out;
  font-family: Lato;
font-weight: 100;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(144, 144, 144);
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.headline {
  color: rgb(19, 7, 10);
  font-size: 30px;
}
/*end of the navigation*/

.blog {
  text-align: center;
}
.titleblog {
  background: black;
  color:white;
  width:30%;
  opacity:0.4;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.three.columns.blog {
  margin-top:5rem;
  background-color: rgb(156, 32, 62);
  height: 10em;

  transition: all .2s ease-in-out;
}
.three.columns:hover {
  transform: scale(1.1);
}
h1.featureblogs {
  margin-top:5rem;
  text-align: center;
}
.eight-columns.title {
  text-align:center;
}
.featuCart {
  font-size: 2em;
  text-decoration: none;
}
.featuCart a:link {
    text-decoration: none;
}
.cartslinks {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
